/*css du projet oenline */


body{
	margin:0; 
	padding:0; 
	width : 100%;
}
div#bgHome{ width : 100%; margin : 0; padding : 0; min-height : 100%;}

div#bgCours{ width : 100%; margin : 0; padding : 0;min-height : 100%}
div#bgVinsReferences{ width : 100%; margin : 0; padding : 0;min-height : 100%}
div#bgJeu{ width : 100%; margin : 0; padding : 0;min-height : 100%}
div#bgEspaceMembre{ width : 100%; margin : 0; padding : 0;min-height : 100%}
div#content{min-height: 100%;}

header{
	margin : 0; 
	padding:0; 
	text-align: center; 
	width:100%;
	border : 1px solid #FFFFFF ;
	background-image : url('../Images/Vigne3.jpg');
		background-position: top left;
		background-repeat: no-repeat; 
		background-attachment: fixed; 
		background-size: cover; 
		-moz-background-size: 1077px 476px;     /* Gecko 1.9.2 (Firefox 3.6) */
		-webkit-background-size: 1077px 476px;   /* Safari 3.0 */
		background-size: 1077px 476px;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */ 
	}
	
header div.titre{
	margin : 0; 
	padding:0; 
	text-align: center; 
	font-family: "Over the Rainbow";
	color : #F7EBBB;
	}

header img{width :100%;}

nav{
	margin: 0;
	padding:0; 
	width : 100%;
	background-color: #F7EBBB;}

nav ul{
	margin :0; 
	padding:0; 
	width : 100%;}

nav ul li{
	margin :0;
	padding : 0;
	background-color: #940101;
	list-style-type: none; 
	display: inline-block;
	vertical-align: center;
	text-align : center;
	height: 2em;
	width : 100%;
	color : #F7EBBB;
	border: 0px solid #940101;}

nav ul li a { 
	color: #F7EBBB;
	font: 1.3em "Trebuchet MS", Verdana, "Lucida Grande", Tahoma, Helvetica, Sans-Serif;
	text-decoration: none;
	float: left;
	width : 100%;
	text-align: center;}

div#contenu{
	margin : 0;
	padding : 0; 
	display: table; 
/*	background-color: #F7EBBB; */
	width:100%;
	border: 1px solid  #F7EBBB; 
	text-align: justify;} 
	
	div#contenu aside a{
		text-decoration : none;
		color : #000000;
	}
	div#contenu aside a:hover{
		color : #940101;}
	
	div#contenu aside#RechVin{
		width :100%;
		background-image : url('../Images/aside-recherche-vins1.jpg');
		background-repeat: repeat;
	}
	div#contenu aside#Jeu{
		width : 100%;
		background-image : url('../Images/aside-Jeu2.jpg');
		background-repeat: repeat;
	}
	div#contenu aside#EspaceMembre{
		width :100%;
		background-image : url('../Images/aside-espace-membre1.jpg');
		background-repeat: repeat;
	}
	
	div#contenu section{
		padding : 7px;
		background-color : #F7EBBB;}
	
	/*div#contenu section fieldset{
		display : block;
	}*/
		
	div#contenu div.affichage_formulaire{
		width : 200px;
		display : block;
		float : left;
	}
	div#contenu{
		background-color: #F7EBBB; 
	}
	div#contenu div.typeBouche{
	width : 100%;
	}
	div#contenu div.typeBouche h3{ 
		width : 100%;
	}
	div#contenu div.affichage_formulaire{

	}
	div.clear {
		clear : both;}
	
	div#contenu section fieldset h3 {
		color: #940101;
		font: 1.3em "Fredericka the Great", Verdana, "Lucida Grande", Tahoma, Helvetica, Sans-Serif;
	}	
	div#contenu section h3 {
		color: #940101;
		font: 1.3em "Fredericka the Great", Verdana, "Lucida Grande", Tahoma, Helvetica, Sans-Serif;
		text-decoration: none;
	}
	
	div#contenu section h5{
		color: #940101;
		font: 1.5em "Over the rainbow", Verdana, "Lucida Grande", Tahoma, Helvetica, Sans-Serif;
		text-decoration: none;}
	
	div#contenu section h3 a{
		color: #940101;
		font: 1.3em "Fredericka the Great", Verdana, "Lucida Grande", Tahoma, Helvetica, Sans-Serif;
		text-decoration: none;
	}
	div#contenu div#contenuJeu{text-align : center;}
	div#contenu div#contenuJeu fieldset{text-align : left;}
	div#contenu div#contenuJeu div#ResJeu{text-align : left;}

	section h3{text-align: center;}

footer{
	margin : 0;
	padding : 0; 
	display: block; 
	background-color: #940101; 
	width:100%; 
	color :#F7EBBB; 
	text-align: center;
	border: 1px solid #940101;}

footer a {
	color :#F7EBBB;}
footer h3{
	width : 100%;
	background-color: #F7EBBB;
	color :#940101; }
	

span.error{color : #E80000;}


nav ul li.actif{background-color: #F7EBBB ;}
nav ul li.actif a{color : #940101;}

nav ul li:hover{background-color: #F7EBBB ;}

nav ul li a:hover{color : #940101;}

nav ul li:active{background-color: #F7EBBB ;}

nav ul li a:active{color : #940101;}
hr{height: 2px; color: #940101; background-color: #940101; width: 85%; border: none;}

p.error {color : red;}

@media all and (min-width: 530px), {

	header img{width :40%;}
	header { 
		margin : 0;
		padding : 0;
		width : 100%;
		}
	header div.connexion { 
		margin : 0;
		padding : 0;
		display : inline-block;
		float : right;
		width : 30%;
		}
		
	header div.titre  {
		margin : 0;
		padding: 0;
		display : inline-block;
		text-align: center;	
		width : 65%;	
		}
	

	nav {
		width : 100%;
		background-color:#940101; 
		border : 0px solid #940101; 
		display : block; 
		height : 2em;
		font-size: 0.65em;
		clear:both;}

	nav ul li{
		float : left;
		width : 24.4%;
		color : #F7EBBB;
		height: 2em;
		border: 0px solid #940101;
		font-size: 1em;}



	
	div#contenu aside#Jeu{
	width : 200px;
	display : table-cell;
	background-image : url('../Images/aside-Jeu.jpg'); 
	background-repeat: repeat; 
	overflow : hidden;}
	
	div#contenu aside#RechVin{
	width : 200px; 
	display : table-cell;
	background-image : url('../Images/aside-recherche-vins.jpeg'); 
	background-repeat: repeat; 
	overflow : hidden;}

	div#contenu aside#EspaceMembre{
	width : 200px; 
	display : table-cell;
	background-image : url('../Images/aside-espace-membre.jpg'); 
	background-repeat: repeat; 
	overflow : hidden;}
	
	
	div#contenu aside fieldset{
		width : 195px;
	}
	
	
	div#contenu section fieldset{
		margin : 0 auto;
		padding : 0;
		width : 80%;
		overflow : hidden;
	}
	
	div#contenu div#results{display : table;width : 100%;}
	
	div#contenu section div#ResJeu{
		display : table-cell;
		margin : 4px;
		width : 48%;
		
	}
	
	div#contenu div#contenuEspaceMembre_home{
		display : table; 
		width : 100%;
		}
	div#contenu div#contenuEspaceMembre{
		display : table; 
		width : 100%;
		}
	div#contenu div#contenuEspaceMembre div#connexionEspMem{
		display : table-cell; 
		text-align : left;
		}
	div#contenu div#contenuEspaceMembre div#inscription{
		display : table-cell;
		text-align : right;
		}

	div#contenu div#contenuEspaceMembre{
		width : 100%;
		}
	div#contenu div#contenuEspaceMembre section.affichagePartie{
		width : 100%;
		display : table;}
	div#contenu div#contenuEspaceMembre section.affichagePartie div.descVin{
		width : 50%;
		display : table-cell;
		padding-left : 10px;
		text-align : left;}
	div#contenu div#contenuEspaceMembre section.affichagePartie div.descPartie{
		display : table-cell;
		width : 50%;
		padding-right : 20px;
		text-align : right;}
	
	
	
}

@media all and (min-width: 1024px), {
	header{background-image : none; border : 0px;}
	
	header img{width :40%;}
	
	header div.connexion { 
		display : inline-block;
		float : right;
		width : 170px;
		}
		
	header div.titre  {
		display : inline-block;
		text-align: center;
		padding-left : 170px;
		color : #000000;
		}
	div#bgHome{
		background-image : url('../Images/Sancerre2.jpg');
		background-position: center center;
		background-repeat: no-repeat; 
		background-attachment: fixed; 
		background-size: cover; 
		-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
		-webkit-background-size: 100% 100%;   /* Safari 3.0 */
		background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */ 
	}
	div#bgCours{background-image : url('../Images/Collioure.jpg');
		background-position: center center;
		background-repeat: no-repeat; 
		background-attachment: fixed; 
		background-size: cover; 
		-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
		-webkit-background-size: 100% 100%;   /* Safari 3.0 */		background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */ 
	}
	div#bgJeu{background-image : url('../Images/Alsace.jpg');
		background-position: center center;
		background-repeat: no-repeat; 
		background-attachment: fixed; 
		background-size: cover; 
		-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
		-webkit-background-size: 100% 100%;   /* Safari 3.0 */
		background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */ 	}
	div#bgVinsReferences{background-image : url('../Images/Cote-Rotie.jpg');
		background-position: center center;
		background-repeat: no-repeat; 
		background-attachment: fixed; 
		background-size: cover; 
		-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
		-webkit-background-size: 100% 100%;   /* Safari 3.0 */
		background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */ 
	}
	div#bgEspaceMembre{background-image : url('../Images/Sancerre1.jpg');
		background-position: center center;
		background-repeat: no-repeat; 
		background-attachment: fixed; 
		background-size: cover; 
		-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
		-webkit-background-size: 100% 100%;   /* Safari 3.0 */		background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */ 
		background-size: 100% 100%;
	}
	div#content{
		width : 1024px;
		margin : 0 auto;
	}

	header img{width :300px;}

	nav {font-size: 1em;}
	
	nav ul li{
		font-size : 1em;
		width : 24.75%;}
		

	div#contenu aside#Jeu{
	width : 200px;
	display : table-cell;
	background-image : url('../Images/aside-Jeu.jpg'); 
	background-repeat: repeat; 
	overflow : hidden;}
	
	div#contenu aside#RechVin{
	width : 200px; 
	display : table-cell;
	background-image : url('../Images/aside-recherche-vins.jpeg'); 
	background-repeat: repeat; 
	overflow : hidden;}
	
	div#contenu aside#EspaceMembre{
	width : 200px; 
	display : table-cell;
	background-image : url('../Images/aside-espace-membre.jpg'); 
	background-repeat: repeat; 
	overflow : hidden;}
	
	div#contenu aside fieldset{
		width : 195px;
	}
	
	div#contenu section {
		overflow : hidden;
	}
	div#contenu div#contenuEspaceMembre div#connexionEspMem{
		display : table-cell;
		width : 50%;
		padding-left: 18px;
		}
	div#contenu div#contenuEspaceMembre div#inscription{
		display : table-cell;
		width : 50%;
		padding-right: 18px;
		}
	div#contenu div#contenuEspaceMembre_home{
		display : table;
		width : 100%;
		}
	div#contenu div#contenuEspaceMembre{
		width : 100%;
		display : block;
		}
	div#contenu  section div#contenuEspaceMembre article section.affichagePartie{
		display : table;
		width : 100%;
		}
	div#contenu  section div#contenuEspaceMembre article section.affichagePartie div.descVin{
		display : table-cell;
		width : 50%;
		padding-left : 10px;
		text-align : left;}
	div#contenu  section div#contenuEspaceMembre article section.affichagePartie div.descPartie{
		display : table-cell;
		width : 50%;
		padding-right : 20px;
		text-align : right;}
	
	
}
