/*css du projet oenline */
body{
	margin:0; 
	padding:0; 
	width : 100%;

}

header{
	margin : 0; 
	padding:0; 
	text-align: center; 
	font-family: "Over the Rainbow";
	width:100%;
	}

header img{width :100%;}

nav{
	margin: 0;
	padding:0; 
	width : 100%;
	background-color: #F7EBBB;}

nav ul{
	margin :0; 
	padding:0; 
	width : 100%;}

nav ul li{
	margin :0;
	padding : 0;
	background-color: #B21313;
	list-style-type: none; 
	display: inline-block;
	vertical-align: center;
	text-align : center;
	height: 2em;
	width : 100%;
	color : #F7EBBB;
	border: 0px solid #B21313;}

nav ul li a { 
	color: #F7EBBB;
	font: 1.3em "Trebuchet MS", Verdana, "Lucida Grande", Tahoma, Helvetica, Sans-Serif;
	text-decoration: none;
	float: left;
	width : 100%;
	text-align: center;}

div#contenu{
	margin : 0;
	padding : 0; 
	display: table; 
/*	background-color: #F7EBBB; */
	width:100%;
	border: 1px solid  #F7EBBB; 
	text-align: justify;} 

	
	div#contenu aside#RechVin{
		width :100%;
		background-image : url('../Images/aside-recherche-vins.jpeg');
		background-repeat: repeat;
	}
	div#contenu aside#Jeu{
		width : 100%;
		background-image : url('../Images/aside-Jeu.jpg');
		background-repeat: repeat;
	}
	
	
	div#contenu section{
		padding : 7px;
		background-color : #F7EBBB;}
	
	/*div#contenu section fieldset{
		display : block;
	}*/
		
	div#contenu div.affichage_formulaire{
		width : 200px;
		display : block;
		float : left;
	}
	div#contenu div {

	}
	div#contenu div.typeBouche{
	width : 100%;
	}
	div#contenu div.typeBouche h3{ 
		width : 100%;
	}
	div#contenu div.affichage_formulaire{

	}
	div.clear {
		clear : both;}
	
	div#contenu section fieldset h3 {
		color: #B21313;
		font: 1.3em "Fredericka the Great", Verdana, "Lucida Grande", Tahoma, Helvetica, Sans-Serif;
	}	
	div#contenu section h3 a{
		color: #B21313;
		font: 1.3em "Fredericka the Great", Verdana, "Lucida Grande", Tahoma, Helvetica, Sans-Serif;
		text-decoration: none;
	}
	div#contenu div#contenuJeu{text-align : center;}
	div#contenu div#contenuJeu fieldset{text-align : left;}
	div#contenu div#contenuJeu div#ResJeu{text-align : left;}

	section h3{text-align: center;}

footer{
	margin : 0;
	padding : 0; 
	display: block; 
	background-color: #B21313; 
	width:100%; 
	color :#F7EBBB; 
	text-align: center;
	border: 1px solid #B21313;}

footer a {
	text-decoration : none;
	color :#F7EBBB;}

span.error{color : #E80000;}


nav ul li.actif{background-color: #F7EBBB ;}
nav ul li.actif a{color : #B21313;}

nav ul li:hover{background-color: #F7EBBB ;}

nav ul li a:hover{color : #B21313;}

nav ul li:active{background-color: #F7EBBB ;}

nav ul li a:active{color : #B21313;}



@media all and (min-width: 530px), {

	header img{width :40%;}
	
	header div.connexion { 
		display : inline-block;
		float : right;
		width : 120px;
		}
		
	header div.titre  {
		display : inline-block;
		margin-right : 121px;}
		
	header div.clear{
		clear : both;}
	

	nav {
		width : 100%;
		background-color:#B21313; 
		border : 0px solid #B21313; 
		display : block; 
		height : 2em;
		font-size: 0.65em;
		clear:both;}

	nav ul li{
		float : left;
		width : 24.4%;
		color : #F7EBBB;
		height: 2em;
		border: 0px solid #B21313;
		font-size: 1em;}

	/*section{clear : both;}*/

	
	div#contenu aside#Jeu{
	width : 200px;
	display : table-cell;
	background-image : url('../Images/aside-Jeu.jpg'); 
	background-repeat: repeat; 
	overflow : hidden;}
	
	div#contenu aside#RechVin{
	width : 200px; 
	display : table-cell;
	background-image : url('../Images/aside-recherche-vins.jpeg'); 
	background-repeat: repeat; 
	overflow : hidden;}
	
	
	div#contenu aside fieldset{
		width : 195px;
	}
	div#contenu section{
		display : table-cell;
		overflow : hidden;
	}
	div#contenu section fieldset{
		margin : 0 auto;
		padding : 0;
		width : 80%;
		overflow : hidden;
	}
	
	div#contenu div#results{display : table;width : 100%;}
	
	div#contenu section div#ResJeu{
		display : table-cell;
		margin : 4px;
		width : 48%;
		
	}
		
	
	
}

@media all and (min-width: 1024px), {
	
	div#bg{
		background-image : url('../Images/Sancerre2.jpg');
		background-position: center center;
		background-repeat: no-repeat; 
		background-attachment: fixed; 
		background-size: cover; 
		-moz-background-size: 100% 100%;     /* Gecko 1.9.2 (Firefox 3.6) */
		-webkit-background-size: 100% 100%;   /* Safari 3.0 */
		background-size: 100% 100%;           /* Gecko 2.0 (Firefox 4.0) > CSS3 */ 
	}
	div#content{
		width : 1024px;
		margin : 0 auto;
	}

	header img{width :300px;}

	nav {font-size: 1em;}
	
	nav ul li{
		font-size : 1em;
		width : 24.75%;}
		

	div#contenu aside#Jeu{
	width : 200px;
	display : table-cell;
	background-image : url('../Images/aside-Jeu.jpg'); 
	background-repeat: repeat; 
	overflow : hidden;}
	
	div#contenu aside#RechVin{
	width : 200px; 
	display : table-cell;
	background-image : url('../Images/aside-recherche-vins.jpeg'); 
	background-repeat: repeat; 
	overflow : hidden;}
	
	div#contenu aside fieldset{
		width : 195px;
	}
	
	div#contenu section {
		display : table-cell;
		overflow : hidden;
	}
	

}